<div class="div">
    <h1 class="title">Title</h1>
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque rem delectus dolores quae reiciendis quia unde similique esse, neque, fugiat perferendis libero nobis magni. Rerum numquam, nemo velit dicta amet soluta voluptates officiis assumenda,
        reiciendis laudantium odio, perspiciatis vel blanditiis ex repellendus laboriosam vero quidem. Iusto accusamus consequatur ipsam veniam.</p>
    <p class="data">Due data - 01.09.2021</p>
</div>